.about-me {
  margin: 0px;
  background-color: #9B83AD;
  color: white;
  height: 100vh;
}

.right-margin {
  margin-right: 20px;
}

.about-me a {
  color: white;
}

.about-me a:hover {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}

.about-me ul {
  line-height: 2em;
}
