.about-me {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-left {
  flex: 0 0 25%;
}

.about-right {
  flex: 1 0 70%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

.photo {
  margin-right: 10px;
}

.right-margin {
  margin-right: 20px;
}

.description {
  text-align: justify;
}

.about-me-list {
  padding-left: 10px;
}
