.division {
  padding: 10px;
  margin-top: 10px;
}

h4 {
  background-color: rgba(101, 128, 135, 0.8);
  padding: 10px;
  border-radius: 2px;
  color: white;
  margin: 0;
}

.detailed-list {
  padding: 0px 10px;
}

.detailed-list li {
  margin-top: 10px;
  margin-bottom: 10px;
}
