.footer h2 {
  margin-left: 20px;
  color: #4F4A4A;
  margin-bottom: 0;
}

.footer p {
  color: #999999;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-left: 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  margin: 0;
}

.footer a {
  color: #999999;
  font-style: italic;
}
.footer a:hover {
  color: #DB730C;
}

