.profile-header-infos {
  padding: 0px 20px;
}

.profile-header-infos h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.profile-header-infos h2 {
  font-weight: lighter;
  opacity: 0.6;
  font-size: 20px;
  margin-bottom: 0;
}

.profile {
  display: flex;
  align-items: center;
  padding: 30px 40px 30px 40px;
}

.profile-header-picture {
  padding-right: 10px;
}
