.profile-header-wrapper {
  background: #E8EFF4;
}

.profile-header-infos {
  padding: 20px 0;
  color: #658087;
}

.profile-header-infos h1 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

.profile-header-infos h2 {
  font-weight: lighter;
  opacity: 0.4;
  font-size: 18px;
  margin-bottom: 0;
}
