.profile-header-wrapper {
  background: #E8EFF4;
  margin-bottom: 10px;
}

.profile-header-infos {
  padding: 40px 20px;
  color: #658087;
}

.profile-header-infos h1 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 0;
}

.profile-header-infos h2 {
  font-weight: lighter;
  opacity: 0.6;
  font-size: 20px;
  margin-bottom: 0;
}
