.skills li {
  /*background-color: rgba(109,157,197, 0.5);*/
  background-color: #9B83AD;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
  font-weight: bolder;
}

.skills ul {
  margin: 10px;
}
